/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-nov-2020, 21:31:14
    Author     : Propietario
*/

ul{
    margin: 0;
    padding: 0;
}

#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: lightcoral;
    right: -200px;
    transition: all 500ms linear;
}
#sidebar.active{
    right: 0;
}
#sidebar ul li{
    color: rgba(230, 230, 230, .9);
    text-align: center;
    padding: 15px 10px;
    list-style: none;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
}
.logo{
    border-radius: 35%;
    display: block;
    margin: 0 auto;
}
#sidebar .toggle-btn{
    position: absolute;
    right: 230px;
    top: 20px;
    cursor: pointer;
}

#sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 1px solid blueviolet;
}